<div id="about">
  <h1>About Me</h1>
  <p>Hello! I'm Celena, nice to meet you!</p>

  <p>
    I'm a frontend-leaning full stack software engineer with 10 years of
    experience building web applications. Through my work at various startups,
    I've developed a strong product mindset and a passion for building
    user-centric experiences. Cross-collaboration with product and design teams
    is one of my favorite parts of the job!
  </p>

  <p>
    If you're here, you're probably wondering about my career as a software
    engineer! I taught myself HTML and CSS back in high school for the sole
    purpose of styling my Xanga and MySpace pages to wow my friends! I learned
    forum-specific markdown to make my forum posts look nice. My favorite HTML
    tag was the marquee (RIP). The internet was a very different place back
    then! It took a few years of meandering and studying other subjects, but I
    eventually made it to the software engineer career path and now I've been at
    it for 10 years!
  </p>

  <div class="marquee" aria-hidden="true">
    <div class="marquee-content">
      <span
        >🚙 --[ the forbidden marquee tag... just kidding! This is using CSS
        animation to create the same effect! Don't worry, I used aria-hidden to
        hide it from accessibility tools ]</span
      >
    </div>
  </div>

  <p>
    Building meaningful user experiences is one of my favorite things about
    being a frontend engineer. Interacting with real users and implementing the
    features they need has been a really rewarding experience. I'm particularly
    interested in data visualizations and hope to further develop my technical
    skills in that area! In the past few years, I've also found joy in working
    on shared tooling like component libraries and design systems that help
    reduce developer pain points across multiple teams.
  </p>

  <p>
    In my free time I like to cook, play video games, and travel. I've recently
    traveled to Seoul and Busan in South Korea! Virtually, I've been exploring
    the vast world of the Jianghu in Where Winds Meet!
  </p>
</div>

<style>
  .marquee {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .marquee-content {
    display: inline-block;
    animation: marquee 30s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .marquee-content {
      animation: none;
    }
  }
</style>
