<nav id="nav">
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="https://drive.google.com/file/d/1D8uUZfPJy_iVrMqvj5hm-G3-LbJxEsx9/view?usp=drive_link">Resume</a></li>
  </ul>
</nav>

<style>
  #nav {
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
    width: 100%;
    background-color: #f0f0f0;
  }

  ul {
    display: flex;
    height: 100%;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0 16px;
    height: 100%;
    align-content: center;
  }

  li:hover {
    border-bottom: 2px solid #333;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
</style>